<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="http://172.21.12.84:3000/input" method="GET">
        
        用户名：<input type="text" name="name" value=""><br>
        密  码：<input type="text" name="password" value=""><br>
        <input type="submit" name="submit1" value="登录">
        <input type="submit" name="submit1" value="注册">
    </form>
    <!--<%=message %><br>-->
    <%for (i in message1){%>
        姓名：<%=message1[i].name %>&nbsp 年龄：<%=message1[i].age %><br>
    <%}  %><br>
    
</body>
</body>
</html>